@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    text-align: center;
}

.App-header {
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(36px + 2vmin);
    /* color: white; */
}

.list-container {
    background-color: orange;
    width: 50vw;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.list-container > ul {
    width: 40%;
    list-style: none;
    margin: 0 auto;
}

.list-container > ul li {
    display: flex;
    align-items: center;
}

.list-container > ul li h4:nth-child(1) {
    width: 50%;
    text-align: start;
}

.form-container label {
    margin-right: 1rem;
}

.add-item-button {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: navy;
    color: white;
    margin-top: 1rem;
}
